.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit 500px);
  background-color: #293f50;
  color: #fffcfa;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
}
.heading {
  place-self: center;
  grid-row: 1/3;
  font-size: 35px;
}
.head {
  place-self: center;
  grid-column: 1/3;
  font-size: 35px;
  color: #5e8580;
}
.intro {
  grid-column: 1/3;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: 100;
}
.date {
  place-self: end;
  color: #5e8580;
}
li {
  list-style-type: none;
  column-gap: 25px;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  grid-area: 2/2;
  display: flex;
  column-gap: 25px;
  place-self: end;
}
.button {
  border: 1px solid white;
  padding: 10px;
  width: fit-content;
  grid-column: 2/3;
}
.main {
  display: flex;
  justify-content: space-around;
}
img {
  border-radius: 15px;
}
.main p,
.main h3 {
  width: 300px;
  color: #9688a1;
}
.main h3 {
  font-size: 15px;
}
.main h2 {
  color: #648880;
}
footer {
  background: #293f50;
  display: grid;
}
.button:hover {
  background-color: white;
  color: #293f50;
}
.heading:hover,
a:hover {
  color: #5e8580;
}
@media screen and (max-width: 750px) {
  .wrapper {
    display: block;
  }
  .button {
    position: relative;
    left: 190px;
  }
  ul {
    column-gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }
}
