.register {
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 10px;
  text-align: center;
}
.register p {
  font-size: 20px;
}
.register h3 {
  font-size: 35px;
}
.main ul {
  display: flex;
  flex-direction: column;
}
.main li {
  list-style-type: square;
  font-size: 20px;
}
.main p {
  font-size: 20px;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit auto);
  place-content: center;
  padding: 20px;
  grid-gap: 35px;
}
form {
  display: grid;
  row-gap: 20px;
}
#submit:hover {
  color: white;
  background: red;
}
label,
input {
  width: 300px;
  font-size: 15px;
}
.main div h3,
.main div p {
  width: auto;
  color: black;
}
@media screen and (max-width: 780px) {
  .main {
    display: block;
  }
}
