* {
  box-sizing: border-box;
}
.schedule {
  text-align: center;
  color: #888888fc;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 5px;
}
.schedule > p {
  font-size: 30px;
}
table {
  margin: 50px;
  font-size: 20px;
  border-spacing: 30px;
  color: #888888fc;
}
td p {
  border-bottom: 1px solid grey;
}
@media screen and (max-width: 1000px) {
  .workshop table {
    display: block;
    margin: 0px;
    border-spacing: 10px;
    font-size: 20px;
  }
}
