.speakers {
  padding: 5px;
  font-size: 25px;
  text-align: center;
  color: #888888;
  background: linear-gradient(#b5d1bd, #f6f1d3);
}
.Aaron_Irizarry,
.Adam_Connor {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  font-size: 20px;
  margin: 0 50px 10px 100px;
}
fieldset img {
  border-radius: 50%;
  place-self: center;
}
fieldset {
  margin-left: 200px;
  margin-top: 20px;
  text-align: center;
  width: 250px;
}
.Aaron_Irizarry p,
.Adam_Connor p {
  color: #888888fc;
}
h3,
h4 {
  color: #888888fc;
  font-size: 25px;
}
h4 {
  font-size: 15px;
}
@media screen and (max-width: 1050px) {
  .Aaron_Irizarry,
  .Adam_Connor {
    margin: 0;
  }
}
@media screen and (max-width: 850px) {
  .Aaron_Irizarry,
  .Adam_Connor {
    display: block;
    text-align: left;
  }
  fieldset {
    display: none;
  }
}
